#contents-list ul{
    list-style-type: none;
}

#main{
    padding: 1em;
    background: #fff;
}

#main h3{
    padding: 1em;
    background: #def;
    border-radius: 1em;
}

pre{
    border: 1px solid #000;
}

.prettyprint ol.linenums>li{
    padding-left: 1em;
    border-left: 1px solid #aaa;
    list-style-type: decimal;
    text-align: left;
}

.consol{
    border: 1px solid #000;
    text-align: left;
    padding-left: 1em;
}